{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% include 'game/partial_game/_navgame.html' %}
  <div class="flex justify-center items-center h-screen">
    <div class="flex justify-center items-center text-white">
      {% for question in questions %}
        <p class="flex flex-col justify-around">{{ question.Pergunta }}</p>
        <br> 
        <ul>
          {% for key, option in question.Alternativas.items %} 
          <input type="button">{{ key }}: {{ option }} </input>
          <br>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
{% endblock %}
